.map {
  height: 400px;
  width: 100%;
  position: relative;
  padding: 4px;
}

.map .leaflet-container {
  height: 100%;
}
.info-name {
  font-size: 1rem;
  font-weight: bold;
  color: #555;
}
.info-container {
  width: 150px;
}

.info-flag {
  height: 80px;
  object-fit: contain;
  background-size: cover;
}
